<!DOCTYPE html>
<html>
<head>
    <title>Webview Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/webview.css" />
</head>
<body>
<div class="container">
    THIS IS A NEW SAMPLE WEBVIEW
    <h3>Choose Color</h3>
    <form action="/webviews/saveColor" method="get">
        <input type="hidden" name="psid" id="psid">

        <h5>Choose Colors</h5>
        <input type="checkbox" name="topics[]" value="red"> Red<br/>
        <input type="checkbox" name="topics[]" value="green"> Green<br/>
        <input type="checkbox" name="topics[]" value="yellow"> Yellow<br/>
 

        <button id="submitButton" type="submit">Submit</button>
    </form>
</div>


<script>
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
    window.extAsyncInit = function() {
        // the Messenger Exstensions JS SDK is done loading
        
         document.getElementById('submitButton').addEventListener('click', function() {
            MessengerExtensions.requestCloseBrowser(function success() {
                // webview closed
            }, function error(err) {
                // an error occured
            });
        });
        
    };
</script>
</body>
</html>